body {
  background-color: black;
  color: red;
  text-align: center;
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#start {
  color: red;
  background-color: rgba(80, 77, 77, 0.849);
  padding: 10px;
  border-radius: 10px;
}

#ws {
  color: red;
  background-color: rgba(80, 77, 77, 0.849);
  padding: 10px;
  border-radius: 10px;
}

#start:hover {
  color: red;
  background-color: rgba(126, 119, 119, 0.849);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

#ws:hover {
  color: red;
  background-color: rgba(155, 151, 151, 0.849);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

#Text {
  font-size: 37px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
